#sort-dropdown {
  position: absolute;
  margin-top: 100px;
  right: 22px;
  background: white;
  width: 187px;
  border-radius: 6px;
  ul {
    li {
      border: 1px solid #e5e5e5;
      height: 41px;
      display: flex;
      align-items: center;
      padding-left: 16.72px;
    }
    li:first-child {
      border-radius: 6px 6px 0px 0px;
    }
    li:last-child {
      border-radius: 0px 0px 6px 6px;
    }
  }
  @screen xmd {
    width: 235px;
    margin-top: 60px;
    right: 242px;
    ul {
      li {
        padding-left: 21px;
        height: 52px;
      }
    }
  }

  .item-name {
    font-weight: 400;
    font-size: 14px;
  }

  .checked {
    display: flex;
    position: absolute;
    right: 17px;
    align-items: center;
  }
}
